.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.align-items-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.mb-20 {
  margin-bottom: 20px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.w-50 {
  width: 50%;
}

@media (max-width: 1024px) {
  .w-50 {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.object-cover {
  object-fit: cover;
}
.rounded-lg {
  border-radius: 8px;
}
